/* GLOBAL CSS */
* {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.line::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  box-shadow: 0 0 20px 0 #fbbd61;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: all 0.5s;
}

.section-title {
  font-size: 18px;
  letter-spacing: 1px;
  color: #ec7532;
  position: relative;
}

/* ENd GLOBAL CSS */

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

header .navbar-nav {
  border-color: rgba(255, 255, 255, 0.3) !important;
}

header .nav-link {
  font-size: 16px;
}
header .nav-link:hover::after,
header .active::after {
  width: 100%;
}

header .navbar button,
header .navbar button:focus {
  border: transparent;
  outline: none;
}

header .navbar button i {
  font-size: 25px;
  color: #fbbd61;
}

.slider .carousel-caption {
  left: 50%;
  bottom: initial;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider .carousel-caption .detail span {
  font-size: 14px;
  color: #fbbd61;
  letter-spacing: 2px;
}

.slider .carousel-caption .detail h1 {
  font-size: 46px;
  font-weight: 300;
  letter-spacing: 3px;
}

.slider .carousel-caption .detail p {
  font-size: 18px;
}

.slider .carousel-caption .trailer span {
  border-width: 2px !important;
  width: 48px;
  height: 48px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.slider .carousel-caption .trailer button {
  background: linear-gradient(to right, #fbbd61, #ec7532);
  box-shadow: none;
  border-radius: 9999px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 3px;
  cursor: pointer;
  border: transparent;
  overflow: hidden;
  position: relative;
  letter-spacing: 3px;
}

.slider .carousel-caption .trailer button span {
  position: relative;
  z-index: 1;
}

.slider .carousel-caption .trailer button::before {
  content: "";
  width: 0;
  height: 100%;
  background: #ec7532;
  position: absolute;
  top: 0;
  left: -200px;
  transform: skewX(45deg);
  transition: all 0.7s;
  opacity: 0.9;
}

.slider .carousel-caption .trailer button:hover::before {
  width: 300%;
}

.slider .carousel-item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to top, #000000, transparent);
}

.slider .carousel-item {
  height: 700px;
}

.slider .item-1 {
  background: url(../img/hero-1.jpg) no-repeat center center;
  background-size: cover;
}

.slider .item-2 {
  background: url(../img/hero-2.jpg) no-repeat center center;
  background-size: cover;
}

.slider .item-3 {
  background: url(../img/hero-3.jpg) no-repeat center center;
  background-size: cover;
}

.slider .carousel-indicators {
  bottom: 60px;
  left: 0;
  width: 100%;
  margin-left: 30px;
  text-align: left;
}

.slider .carousel-indicators li {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin: 0 8px 0 0;
  border: 2px solid white;
  background-color: transparent;
}

.slider .carousel-indicators li.active {
  background: white;
}

.new {
  padding: 75px 0;
}

.new .container-md > h1.line::after {
  width: 120px;
}

.new .item .img {
  border-radius: 12px;
}

.new .item .img .info {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  transition: all 0.4s;
}

.new .item .img:hover .info {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.new .item .info a {
  cursor: pointer;
}

.new .item .img .info i {
  width: 80px;
  height: 80px;
  border-width: 2px !important;
  transition: all 0.5s;
}

.new .item .img .info i:hover {
  transform: scale(0.9);
}

.new .item .img::before {
  content: "";
  width: 0;
  height: 100%;
  background: linear-gradient(to bottom, #fbbd61, #ec7532);
  position: absolute;
  top: 0;
  left: -12.5rem;
  transform: skewX(45deg);
  transition: all 0.4s;
  opacity: 0.9;
}

.new .item .img:hover::before {
  width: 300%;
}

.new .item h1 {
  font-size: 20px;
}
.new .item .rating i {
  font-size: 15px;
  margin: 0 3px;
  width: 18px;
  color: #fbbd61;
}

.contact .container-md p:first-child {
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #4a4a4a;
}

.contact .container-md p:last-child {
  font-size: 46px;
  font-weight: 400;
  color: #ef8b61;
  letter-spacing: 1px;
}

.showtimes .nav-tabs .nav-link {
  position: relative;
  color: #4a4a4a;
  padding: 10px 30px;
}

.showtimes .nav-tabs .nav-link.active.line::after,
.showtimes .nav-tabs .nav-link:hover.line::after {
  width: 100%;
}

.showtimes .nav-tabs .nav-link,
.showtimes .nav-tabs .nav-link:hover {
  font-size: 18px;
  border: none;
}

.showtimes .nav-tabs .nav-link.active {
  color: #ec7532;
}

.showtimes img {
  border-radius: 15px;
}

.showtimes .showtimes__detail > span {
  color: #ec7532;
  font-size: 14px;
  letter-spacing: 2px;
}

.showtimes .showtimes__detail > h1 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #101010;
}

.showtimes .showtimes__detail > p {
  font-weight: 400;
  color: #717171;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.showtimes .showtimes__detail > a {
  font-size: 12px;
  letter-spacing: 4px;
  color: #ec7532;
}

.showtimes .showtimes__detail > a:hover {
  color: #101010;
}

.showtimes .showtimes__detail .time {
  display: inline-block;
  margin-left: 5px;
  padding: 7px 10px;
  letter-spacing: 2px;
  color: #717171;
  border-radius: 5px;
  background-color: #d8d8d8;
}

.showtimes .showtimes__detail .time.past {
  opacity: 0.5;
}

.showtimes .showtimes__length {
  font-size: 13px;
  color: #717171;
}
.showtimes .showtimes__length span {
  font-size: 15px;
  line-height: 33px;
  display: inline-block;
  width: 33px;
  height: 33px;
  margin-left: 5px;
  text-align: center;
  letter-spacing: 0;
  border-radius: 50%;
}

.showtimes .fa-clock {
  background-color: #000000;
  color: white;
  border-radius: 50%;
}

.coming {
  background-color: #000000;
}

.coming__bg {
  padding: 80px 0;
  background: url(../img/slide-7.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.coming__bg .section-title {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.coming__bg .line::after {
  width: 120px;
}

.coming__detail {
  width: 85%;
  padding: 50px 0;
}

.coming__detail > span {
  font-size: 14px;
  color: #ef8b61;
  letter-spacing: 2px;
}

.coming__detail > h1 {
  font-size: 34px;
  letter-spacing: 1px;
}

.coming__detail .fa-star {
  font-size: 12px;
  color: #fbbd61;
}

.coming__date {
  opacity: 0.75;
  font-size: 14px;
  margin-left: 10px;
}

.coming__detail a {
  font-size: 12px;
  color: #ef8b61;
  letter-spacing: 3px;
}

.coming__trailer {
  position: relative;
  box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.75);
  background: url("../img/slide-1-video.png") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 90%;
}

.coming__trailer i {
  font-size: 25px;
  line-height: 75px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  margin: auto;
  text-align: center;
  text-indent: 14px;
  color: #fff;
  border: 2px solid #ec7532;
  border-radius: 50%;
  padding-right: 8px;
  transition: all 0.5s;
}

.coming__trailer:hover i {
  transform: scale(0.9);
}

.coming__list {
  padding: 55px 0;
  background-color: #101010;
}

.coming__list .item {
  opacity: 0.35;
  cursor: pointer;
  transition: all 0.5s;
}

.coming__list .item:hover {
  opacity: 1;
}

.coming__list img {
  border-radius: 10px;
  height: 210px;
}

.coming__list h1 {
  font-size: 16px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

footer {
  padding: 75px 0 0;
  color: white;
  background: #101010;
}

footer h1 {
  font-size: 16px;
  letter-spacing: 2px;
  color: #ec7532;
  border: none;
}

footer ul li {
  list-style: none;
}

footer a {
  font-size: 13px;
  padding: 3px 0;
  letter-spacing: 1.5px;
  color: white;
  text-decoration: none;
  transition: all 0.5s;
}

footer .fab {
  width: 25px;
  color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

footer a:hover,
footer a:hover .fab {
  color: #fbbd61;
  text-decoration: none;
}

footer .copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .copyright a:hover {
  color: #ec7532;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 991px) {
  header img {
    width: 150px;
  }
  .coming .coming__detail {
    padding: 0;
  }
  .coming .coming__trailer {
    width: 100%;
    height: 90%;
  }
}

@media screen and (max-width: 767px) {
  header .nav-link:hover::after,
  header .active::after {
    width: 0%;
  }
  header .navbar-nav {
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.9);
  }
  header .navbar-nav .nav-link {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin: 0 auto;
  }
  header .nav-link.active {
    color: #ec7532 !important;
  }
  header .nav-link.news {
    background-color: #ec7532;
  }
  .slider .carousel-caption .detail h1 {
    font-size: 40px;
    line-height: 1.2em;
  }
  .showtimes .nav-tabs .nav-link {
    padding: 0.625rem 1.5rem;
  }
  .showtimes img {
    width: 50% !important;
    margin-bottom: 30px;
  }
  .showtimes__length {
    text-align: left;
    padding-top: 10px;
  }
  .coming__list .item img {
    height: auto;
  }
  .coming .coming__trailer {
    height: 80%;
  }
}

@media screen and (max-width: 575px) {
  .slider .carousel-indicators {
    width: 80%;
    margin: 0 auto;
  }
  .showtimes .nav-tabs {
    flex-direction: column;
  }
  .showtimes .nav-tabs .nav-link.active.line::after {
    width: 4px;
    height: 100%;
  }
  .showtimes img {
    width: 100% !important;
  }
  .showtimes .view-time {
    display: block;
    margin-bottom: 25px;
  }
  .coming__bg {
    padding: 40px 0;
  }
  .coming .coming__trailer {
    margin-top: 50px;
    height: 200px;
  }
  .coming__detail > h1 {
    font-size: 30px;
  }
}
